<!DOCTYPE html>
<html ng-app="app">
 
<head>
<script src="../js/angular.min.js"></script>
<script src="js/script.js"></script>
<link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>
 
<body ng-controller="PruebaController">
<!-- 	con ng-model controlo los booleanos asociados alas clases. -->
  <input ng-model="clasesCss.rojo" type="checkbox">Aplicar estilo Rojo
  <br>
  <input ng-model="clasesCss.subrayado"  type="checkbox">Aplicar estilo Subrayado
  <br>
  <input ng-model="clasesCss.negrita"  type="checkbox">Aplicar estilo Negrita  
  <br>
  <br>
<!--   con ng-class uso un objeto con propiedades que tienen el nombre de clases y con valor de booleanos -->
<!--   al marcar o desmarcar los booleanos de arriba se añaden o quitan clases -->
  <div ng-class="clasesCss">Este es un texto con clases dinámicas</div>

</body>
</html>